<style>
    .WgXPl8hmQOs4k7Em9TTI {
        display: flex;
    }
</style>

<div class="E34FrewmewkuBM1IDQsg">
    <div data-testid="premium-banner-feature" class="EqI8UWvxKbdIuUibLvao"></div>
    <div class="AXLhOsSjT3bowfjf42kK">
        <div ng-repeat="list in jsonData.data.body.rows">
            <div ng-if="!isExcluded(list.heading)">
                <div class="JMgUTIyId0RuU9k6aQaz">
                    <h2 dir="auto" data-encore-id="type" class="Type__TypeElement-sc-goli3j-0 jrSvGn">{{list.heading}}</h2>
                </div>
                <div class="qirFczpKFgQDsNuuzLHP" style="--gap:0;--fullbleed-margin:8px">
                    <div ng-repeat="item in list.items">
                        <div class="Box__BoxComponent-sc-y4nds-0 bKreLM Box-sc-1njtxi4-0 isVfQX Ls6YqlT1UFwzFq_kTb0N" ng-click="AddToQueue(item.data.id)">
                            <div class="CardLink-sc-1ut6cns-0 bqBIHN"></div>
                            <img alt="{{item.data.title}}" id="{{item.data.id}}" src="{{item.data.image}}" class="Image-sc-1u215sg-3 gkCqva" style="min-inline-size:152px">
                            <div class="Areas__InteractiveArea-sc-1tea2mc-0 Areas__MainArea-sc-1tea2mc-1 eWOIvZ etmkxq">
                                <div class="Areas__InteractiveArea-sc-1tea2mc-0 Areas__Column-sc-1tea2mc-2 eWOIvZ joannQ">
                                    <p class="Type__TypeElement-sc-goli3j-0 hkczJp ListRowTitle__ListRowType-sc-1xe2if1-1 fPcOrY"><span class="ListRowTitle__LineClamp-sc-1xe2if1-0 jFJkPc">{{item.data.title}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vPotEW28Q2P3zSJbEHQK">
        <nav data-testid="footer-div" class="Footer__StyledFooter-sc-xwm5vq-0 bRDuCh">
            <hr class="HorizontalRule__HorizontalRuleElement-sc-198gjx4-0 pweDQ Footer__Line-sc-xwm5vq-3 OCXpo" data-encore-id="horizontalRule">
            <div class="Footer__StyledBottomLinks-sc-xwm5vq-4 daFUNi">
                <div class="CountryCopyright__CountryCopyrightContainer-sc-1k7wleo-0 cfyxzx">
                    <div class="CountryCopyright__Copyright-sc-1k7wleo-3 eTlBSa">
                        <p data-encore-id="type" class="Type__TypeElement-sc-goli3j-0 dqldSo">© 2023 Soundify</p>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>